<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vue</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="author" content="尹学江">
  <script src="../vue.js"></script>
  <style type="text/css">
  #app{
    width: 800px;
    margin: 0 auto;
  }
  	table{
  		width: 800px;
  		margin: 0 auto;
  		margin-top: 40px;
  		border-collapse: collapse;
  	}
  	table tr th,
  	table tr td{
  		border: 1px solid #ccc;
  		line-height: 40px;
  		text-align: center;
  	}
  </style>
</head>

<body>
  <div id="app">
    <!-- 随机抽取5个 并显示列表 -->
    <div><input type="number" v-model='number' placeholder="请填写抽取的人数">  <button v-on:click="choose">抽取</button></div>
  	<table>
  		<tr>
  			<th>排序</th>
  			<th>姓名</th>
  			<th>性别</th>
  			<th>年龄</th>
  			<th>手机</th>
  			<th>邮箱</th>
  		</tr>
  		<!-- 数组循环 -->
  		<tr v-for="(student, index) in students">
  			<td>{{index + 1}}</td>
  			<td>{{student.name}}</td>
  			<td>{{student.sex}}</td>
  			<td>{{student.age}}</td>
  			<td>{{student.phone}}</td>
  			<td>{{student.email}}</td>
  		</tr>
  	</table>
  </div>
</body>
<script src="students.js"></script>
<script type="text/javascript">
// vue 实例
var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!',
    seen:true,
    number:0,
    students:[]
  },
  methods:{
    choose(){      
      console.log(this.number);
      // studentsData
      // studentsData.sort(function(){
      //   return Math.random() - 0.5;
      // })
      let arr = [];
      for (var i = 0; i < this.number; i++) {
        let ran = Math.floor(Math.random()*studentsData.length);
        if(arr.includes(studentsData[ran])){
          i--;
        }else{
          arr.push(studentsData[ran]);
        }
      }
      // 处理过程
      this.students = arr;
    }
  }
})
</script>

</html>
